:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body, html {
  overflow-x: hidden;
}
.wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;  
  min-height: 100vh;
}
.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: 100vh;
  width: 80vw;
}
.input-wrapper {
  background-color: #D9D9D9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 4px solid #000000;
  border-radius: 10px;
  padding: 10px;
}
.input-wrapper > textarea {
  min-width: 100%;
  min-height: 30vh;
  resize: none;
  border: none;
  background-color: #D9D9D9;
  outline: none;
  border-bottom: 1px solid #000;
  margin-bottom: 1em;
}
.predictions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: #D9D9D9;
  min-width: 100%;
}
.prediction {
  max-width: 35vw;
  background-color: #C7C7C7;
  font-size: 12px;
  border: .5px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s all ease;
}
.prediction.active {
  border: 2px solid #222;
}
.prediction:hover {
  background-color: #aaaaaa;
}
@media (max-width: 768px) {
  .container {
    width: 100vw;
  }
}