:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body, html {
  overflow-x: hidden;
  background-color: #323232;
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
}
.main-wrapper{
  width: 100vw;
  min-height: 100vh;
}
.wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;  
  min-height: 100vh;
}
.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: 100vh;
  width: 80vw;
}
.input-wrapper {
  background-color: #434343;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 4px solid #126422;
  border-radius: 10px;
  padding: 10px;
}
.input-wrapper > textarea {
  width: 100%;
  min-height: 30vh;
  resize: none;
  border: none;
  background-color: #434343;
  outline: none;
  border-bottom: 1px solid #126422;
  margin-bottom: 1em;
}
.predictions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: #434343;
  min-width: 100%;
}
.simple-keyboard.myTheme1 {
  background-color: #323232;
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.simple-keyboard.myTheme1 .hg-button {
  background-color: #323232;
  color: #00921D;
  outline: none;
}
.hg-rows, .react-simple-keyboard, .simple-keyboard, .hg-theme-default, .hg-layout-default {
  background: none;
}
.hg-button, .hg-standardBtn {
  background-color: #323232;
  border: 2px solid #B0B0B0;
}
.hg-theme-default .hg-button.hg-activeButton{
  background: #434343;
}
.prediction {
  max-width: 35vw;
  background-color: #4A4A4A;
  font-size: 1.1em;
  border: .5px solid #126422;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s all ease;
  color: white;
}
.prediction.active {
  border: 2px solid #126422;
}
.prediction:hover {
  background-color: #333333;
}
#logo-nav {
  max-width: 100vw;
  position: fixed;
  padding: 5px;
  top: 0;
  left: 0;
}
#logo {
  max-height: 5vh;
}
@media (max-width: 768px) {
  .container {
    width: 100vw;
  }
  .prediction {
    font-size: .75em;
  }
  .container {
    width: 100vw;
  }
}